* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#nav-link .link::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  transition: width 0.5s linear;
}

#nav-link .link:hover::after {
  width: 100%;
}

.services-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  transition: width 0.5s ease-in-out;
}
.services-link:hover::after {
  width: 100%;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#marquee-container {
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
